<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8" />
    <title>Lab</title>
    <link type="text/css" rel="stylesheet" href="../public/stylesheets/style.css" />
    </head>
    <body>
        <nav class="navbar-basic">
            <a class="name" href="index.html">Lab-S</a>
                <a class="link" href="index.html">Index</a>
                <a class="link" href="works.html">Works</a>
                <a class="link" href="gallery.html">Photo Gallery</a>
                <a class="link" href="about.html">About</a>
          </nav>
  
          <main>
                <div class="gallery" align="center">
                      <img src="../public/img/1.jpg" alt="Assasins Creed">
                    <img src="../public/img/2.jpg" alt="2">
                    <img src="../public/img/3.jpg" alt="3">
                    <img src="../public/img/4.jpg" alt="4">
                    <img src="../public/img/5.jpg" alt="5">
                    <img src="../public/img/brotherhood.jpg" alt="brotherhood">
                    <img src="../public/img/odyssey.jpg" alt="odyssey">
                    <img src="../public/img/origins.jpg" alt="origins">
                    <img src="../public/img/revelation.jpg" alt="revelation">
                    <img src="../public/img/syndicate.jpg" alt="syndicate">
                    <img src="../public/img/unity.jpg" alt="unity">
                    <img src="../public/img/AC.jpg" alt="Valhalla">
                    <img src="../public/img/rouge.jpg" alt="rouge">
                </div>
          </main>
    
    </body>
    </html>