<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8" />
    <title>Lab</title>
    <link type="text/css" rel="stylesheet" href="../public/stylesheets/style.css" />
    </head>
    <body>
        <nav class="navbar-basic">
            <a class="name" href="index.html">Lab-S</a>
                <a class="link" href="index.html">Index</a>
                <a class="link" href="works.html">Works</a>
                <a class="link" href="gallery.html">Photo Gallery</a>
                <a class="link" href="about.html">About</a>
          </nav>
          <div class="works">
              <div>
                  <img alt="" src="../public/img/1.jpg">
                  <h4>Assassin's Creed</h4>
                  <p>Altaïr Ibn-La'Ahad el más audaz, rápido, sabio y poderoso asesino de todos los tiempos, deberá asesinar a nueve objetivos históricos para recuperar su rango en la orden y recuperar su honor</p>
              </div>
              <div>
                <img alt="" src="../public/img/2.jpg">
                <h4>Assassin's Creed II</h4>
                <p>Cuando su familia es traicionada en Florencia, el joven noble se oculta en los canales de Venecia, donde se inicia en los métodos y las armas de los Assassins.</p>
            </div><div>
                <img alt="" src="../public/img/3.jpg">
                <h4>Assassin's Creed III</h4>
                <p>La guerra entre Asesinos y Templarios ha sido envuelta en la Guerra de independencia estadounidense. Un joven mestizo llamado Ratonhnhaké, es atraído hacia la lucha contra la tiranía, cuando su pueblo es atacado por colonizadores</p>
            </div><div>
                <img alt="" src="../public/img/4.jpg">
                <h4>Assassin's Creed IV</h4>
                <p>Se trata de reunir material para la motorización de una película interactiva del Animus, pero en realidad, Abstergo y los templarios están buscando el Observatorio, una estructura precursora que permite al usuario ver a través de los ojos de un sujeto</p>
            </div>
            <div>
                <img alt="" src="../public/img/5.jpg">
                <h4>Assassin's Creed: Unity</h4>
                <p>París, 1789. La Revolución francesa ha convertido esta espléndida ciudad en un lugar donde imperan el terror y caos. Por sus calles adoquinadas corre la sangre de los plebeyos que osaron alzarse contra una opresiva aristocracia.</p>
            </div>
            <div>
              <img alt="" src="../public/img/brotherhood.jpg">
              <h4>Assassin's Creed: Brotherhood</h4>
              <p>La historia de Ezio Auditore continúa en 1499, donde él sale de la Bóveda, confundido por lo que vio en el interior. Escapa de Roma con su tío Mario Auditore y llega a Monteriggioni. Una vez en casa, Ezio es consolado por la posibilidad de que su venganza personal y sus días como un asesino han terminado</p>
          </div><div>
              <img alt="" src="../public/img/revelation.jpg">
              <h4>Assassin's Creed: Revelations</h4>
              <p>Ezio Auditore, ya en avanzada edad pero con mucha más sabiduría y maestría, parte de Roma en un viaje al origen de la orden de los Asesinos (Masyaf) y del maestro asesino, Altaïr, para encontrar los secretos que este dejó ocultos</p>
          </div><div>
              <img alt="" src="../public/img/rouge.jpg">
              <h4>Assassin's Creed: Rouge</h4>
              <p>Un asesino traicionado por su hermandad que se une a los Templarios en busca de venganza</p>
          </div>
          <div>
            <img alt="" src="../public/img/syndicate.jpg">
            <h4>Assassin's Creed: Syndicate</h4>
            <p>Londres, 1868. La Revolución Industrial da lugar a una era llena de innovaciones, transformando las vidas de millones de personas con tecnologías que antes se consideraron imposibles.</p>
        </div>
        <div>
            <img alt="" src="../public/img/origins.jpg">
            <h4>Assassin's Creed: Origins</h4>
            <p>Experimenta una nueva manera de luchar mientras exploras las grandes pirámides y las tumbas ocultas por todo el país en el Antiguo Egipto, y descubre muchas tramas memorables a lo largo de tu viaje. Y desvela la historia del origen de la Hermandad de los Asesinos.</p>
        </div>
        <div>
          <img alt="" src="../public/img/odyssey.jpg">
          <h4>Assassin's Creed: Odyssey</h4>
          <p>Escribe tu propia odisea épica y conviértete en un legendario héroe espartano en Assassin's Creed® Odyssey, una emocionante aventura en la que deberás forjar tu destino y recorrer tu propio camino en un mundo al borde del colapso. Determina el rumbo de la historia y vive un complejo y cambiante mundo labrado por tus decisiones.</p>
      </div><div>
          <img alt="" src="../public/img/AC.jpg">
          <h4>Assassin's Creed: Valhalla</h4>
          <p>La Inglaterra de la era vikinga era una nación fracturada, plagada de ruines señores feudales y reinos en guerra, pero bajo ese caos yacían tierras ricas e indómitas que aguardaban a que alguien las conquiste</p>
      </div>
          </div>
          </body>
          </html>